body {

	background: linear-gradient(88deg, #464447, #302a38, #000000, #351061, #5f5e61);
	background-size: 100% 100%;
	color: #fff;


}

/* Animation */

/* Fadein */

.fadein {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	 -ms-animation: fadein 2s;
		-o-animation: fadein 2s;
			 animation: fadein 2s;

}

/* Animate header and movie posters */

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Animate background gradient */

@-webkit-keyframes AnimatedGardient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimatedGardient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimatedGardient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimatedGardient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


/* PAGE HEADER */

h1, .MoviesList {
	margin-bottom: 0.25em;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	 -ms-animation: fadein 2s;
		-o-animation: fadein 2s;
			 animation: fadein 2s;
	font-size: 22px;
  font-weight: 700;
}

.header {
	background: linear-gradient(88deg, #464447, #302a38, #000000, #351061, #5f5e61);
  padding: 40px;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
}

.header {
  font-size: 5em;
	padding: 40px 50px;
  text-transform: uppercase;
}
  .retroshadow {
		color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #d5d5d5,
			7px 7px 0px rgba(0, 0, 0, 0.2);
}

/* MOVIESLIST COMPONENT */

.MoviesList {
  padding: 20px 40px;
  box-sizing: border-box;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 0;
  position: relative;
  z-index: 4;
}
.MoviesList .titles-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.MoviesList[data-loaded='true'] {
  opacity: 1;
}

/* MOVIE COMPONENT */

.Movie {
  width: calc(20% - 10px);
  min-width: calc(20% - 10px);
  background-color: linear-gradient(88deg, #464447, #302a38, #000000, #351061, #5f5e61);
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
					flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 10px;
	margin-top: 10px;
  -webkit-transition: background 1s;
	transition: background 1s;
	background-repeat: no-repeat;
}

.Movie .overlay {
  padding: 20px;
  position: relative;
  height: 100%;
	opacity: 0;
	pointer-events: none;
  -webkit-transition: opacity .125s;
  transition: opacity .125s;
}
.Movie .overlay .title {
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}
.Movie .overlay .rating {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}
.Movie .overlay .overview {
	font-size: 14px;
	display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
	opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: margin .25s ease .125s, opacity .25s ease .25s;
	transition: margin .25s ease .125s, opacity .25s ease .25s;
}

.Movie:hover {
	background-size: 150%;
}

.Movie:hover .overlay {
	opacity: 1;
	pointer-events: all;
}
.Movie:hover .overlay .overview {
	margin-top: 10px;
	opacity: 1;
}
.Movie:hover .overlay .title {
	opacity: 1;
}
.Movie:hover .overlay .rating {
	opacity: 1;
}

